/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  width: 50%;
  float: left;
}

main {

}

aside {
  float: left;
  width: 50%;
}

nav {
  float: left;
  width: 30%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
}

h1, h2 {
  letter-spacing: 2px;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.3px;
  word-spacing: 1.5px;
}
